<h2>Products</h2>

<%= form_tag import_products_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>


<p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> |
  <%= link_to "Excel", products_path(format: "xls") %>
</p>


<p>
	<table>
		  <tr>
		    <th>ID</th>
		    <th>Product Name</th>
		    <th>Price</th>
		    <th>Release Date</th>
		  </tr>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.id %></td>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
				<td><%= product.released_on %></td>
			</tr>
		<% end %>
	</table>
</p>
