<？XML version="1.0"?> 
<Workbook  xmlns = " urn:schemas-microsoft-com:office:spreadsheet "
   xmlns:o = " urn:schemas-microsoft-com:office:office "
   xmlns:x = " urn:schemas-microsoft-com:office:excel "
   xmlns:ss = " urn:schemas-microsoft-com:office:spreadsheet "
   xmlns:html = " http://www.w3.org/TR/REC-html40 " > 
  <Worksheet  ss:Name = " Sheet1 " > 
    <Table> 
      <Row> 
        <Cell> <Data  ss:Type = " String " > ID </Data> </Cell> 
        <Cell> <Data  ss:Type = " String " > Name </Data> </Cell> 
        <Cell> <Data  ss:Type = " String " > Price </Data> </Cell> 
        <Cell> <Data  ss:Type = " String " > Release Date </Data> </Cell> 
      </Row> 
    <%  @products .each do |product| %>
       <Row> 
        <Cell> <Data  ss:Type = " Number " > <%= product.id %> </Data> </Cell> 
        <Cell> <Data  ss:Type = " String " > <%= product.name %> </Data> </Cell> 
        <Cell> <Data  ss:Type = " Number " > <%= product.price %> </Data> </Cell> 
        <Cell> <Data  ss:Type = " String " > <%= product.released_on %> </Data> </Cell> 
      </Row> 
    <%  end  %>
     </Table> 
  </Worksheet> 
</Workbook>